body {
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.drumkit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.drumkit__item {
  text-align: center;
  background-color: transparent;
  border: 2px solid white;
  border-radius: .5em;
  width: 90px;
  padding: 10px;
  margin: 10px;
  color: crimson;
  transition: all .1s;
}

.drumkit__item:hover {
  border-color: yellow;
}

.drumkit__key {
  font-size: 2em;
  font-family: inherit;
}

.drumkit__sound {
  margin: 0;
  font-size: 1.3em;
}

.drumkit__item_pressed {
  color: yellow;
  border-color: yellow;
  transform: scale(1.05);
}
